  @font-face {
  font-family: 'Big Caslon Medium';
  src: url('../font/Big Caslon Medium.ttf');
  }
.container-fluid {
  background: url(../bg1.jpg);
  background-size:100%;
  background-repeat:no-repeat;
 /* margin-top:-70px;*/
}